In [1]:
import pandas as pd
import numpy as np

In [4]:
data_4 = pd.DataFrame([[1,2,np.nan],[np.nan,4,5],[5,3,np.nan]])

In [5]:
data_4

     0  1    2
0  1.0  2  NaN
1  NaN  4  5.0
2  5.0  3  NaN

In [ ]:
# function [data_4_s] = smooth_epidata(data_4, smooth_factor, week_correction, week_smoothing)
# %SMOOTH_EPIDATA removes outliers and smoothes

# if nargin < 4
#     week_smoothing = 1;
# end

# if nargin < 3
#     week_correction = 1;
# end
# data_4 = fillmissing(data_4, 'linear', 2);

# deldata = diff(data_4');

if nargin<4:
    week_smoothing=1
if nargin<3:
    week_correction = 1

In [11]:
data_4 = data_4.interpolate(method='linear',limit=2,limit_direction='both')

In [14]:
data_4

     0  1    2
0  1.0  2  5.0
1  3.0  4  5.0
2  5.0  3  5.0

In [16]:
deldata = data_4.diff()[1:]

In [17]:
data_4_s = data_4.copy()

In [ ]:
# maxt = size(data_4, 2);
maxt =