In [1]:
import pandas as pd
import requests
import datetime

sel_url = 'https://raw.githubusercontent.com/biobotanalytics/covid19-wastewater-data/master/wastewater_by_county.csv'
ww_data = pd.read_csv(sel_url)

abvs = pd.read_csv('us_states_abbr_list.txt', header=None)[0].to_list()

In [58]:
fips_tab = pd.read_csv('reich_fips.txt')

In [59]:
fips_tab

     abbreviation location      location_name   population
0              US       US                 US  328728466.0
1              AL       01            Alabama    4903185.0
2              AK       02             Alaska     731545.0
3              AZ       04            Arizona    7278717.0
4              AR       05           Arkansas    3017804.0
...           ...      ...                ...          ...
3195          NaN    56037  Sweetwater County      42343.0
3196          NaN    56039       Teton County      23464.0
3197          NaN    56041       Uinta County      20226.0
3198          NaN    56043    Washakie County       7805.0
3199          NaN    56045      Weston County       6927.0

[3200 rows x 4 columns]

In [2]:
ww_data.shape

(13150, 7)

In [60]:
def impute_us(x):
    if x=='US':
        return '0'
    else:
        return x
fips_tab['location'] = fips_tab['location'].apply(impute_us)

In [5]:
ww_data['fipscode'] = ww_data.fipscode.astype(str)

In [54]:
ww_data_fips = ww_data.fipscode.to_list()

In [73]:
len(ww_data_fips)

13150

In [65]:
fips_tab_codes = fips_tab['location'].to_list()

In [74]:
len(fips_tab_codes)

3200

In [95]:
second_grp.index(48321.0)

0

In [109]:
fips_idx = []
second_grp = [float(k) for k in (fips_tab_codes)]
for w in range(len(ww_data_fips)):
    if float(ww_data_fips[w]) in second_grp:
        
        fips_idx.append(second_grp.index(float(ww_data_fips[w])))
    else:
        fips_idx.append(0)

In [110]:
sum(fips_idx)

18783677

In [111]:
import numpy as np
from datetime import datetime, timedelta
xx = ww_data.sampling_week.to_list()

whichday = np.zeros(len(xx))
for ii in range(len(xx)):
    whichday[ii] = int((datetime.strptime(xx[ii], '%Y-%m-%d') - datetime(2020, 1, 23)).days)

In [112]:
from latest_us_data import *
get_data()
filehandler = open("data_4.pkl", 'rb') 
#     print(a)
data_4 = pickle.load(filehandler)

In [113]:
ww_ts = np.zeros((data_4.shape[0],data_4.shape[1]))

ww_pres = np.zeros((data_4.shape[0],data_4.shape[1]))

In [114]:
ww_data

,Unnamed: 0,sampling_week,effective_concentration_rolling_average,region,state,name,fipscode
0,0,2020-01-15,0.000000,Northeast,MA,"Suffolk County, MA",25025
1,1,2020-01-22,0.000000,Northeast,MA,"Suffolk County, MA",25025
2,2,2020-01-29,0.000000,Northeast,MA,"Suffolk County, MA",25025
3,3,2020-02-05,0.000000,Northeast,MA,"Suffolk County, MA",25025
4,4,2020-02-12,0.000000,Northeast,MA,"Suffolk County, MA",25025
...,...,...,...,...,...,...,...
13145,13307,2023-02-01,398.459058,Midwest,IL,"Winnebago County, IL",17201
13146,13308,2023-02-01,646.317996,South,VA,"Wise County, VA",51195
13147,13309,2023-02-01,865.514771,Northeast,MA,"Worcester County, MA",25027
13148,13310,2023-02-01,386.440188,West,AZ,"Yavapai County, AZ",4025
13149,13311,2023-02-01,950.330158,Northeast,ME,"York County, ME",23031

In [115]:
abvs_idx = [abvs.index(i) for i in ww_data.state if i in abvs]

In [123]:
popu = np.loadtxt('us_states_population_data.txt')

In [125]:
for ii in range(len(xx)):
    if whichday[ii] < 1 or fips_idx[ii] < 1:
        continue
#     print(ii)
    ww_pres[abvs_idx[ii], int(whichday[ii])] = 1
    ww_ts[abvs_idx[ii], int(whichday[ii])] = ww_ts[abvs_idx[ii], int(whichday[ii])] + ww_data.effective_concentration_rolling_average[ii]*fips_tab.population[fips_idx[ii]]/popu[abvs_idx[ii]]

In [127]:
ww_ts.shape

(56, 1107)

In [133]:
ww_ts[ww_pres < 1] = np.nan
ww_ts[ww_ts <= 0] = np.nan

ww_ts1 = pd.DataFrame(ww_ts).interpolate( limit_direction='both', axis=1).to_numpy()
ww_tsm = pd.DataFrame(ww_ts1).rolling(14, axis=1).mean().to_numpy()

In [136]:
data_4_s = data_4
data_diff = np.insert(np.diff(data_4_s, axis=1), 0, 0, axis=1)

ww_tsw = np.insert(ww_ts[:, 5::7], 0, 0, axis=1)
weekly_dat = np.insert(np.diff(ww_tsw, axis=1), 0, 0, axis=1)

In [163]:
import csaps

In [306]:
wlag = 7
ww_tsm[ww_ts == 0] = np.nan
f = np.empty_like(ww_ts)
f[:, wlag:] = ww_ts[:, :-wlag] / data_diff[:, wlag:]
f[:, :200] = np.nan
f1 = f


for jj in range(f1.shape[0]):
    xx = np.flatnonzero(~np.isnan(f1[jj,:]))
    xx2 = np.flatnonzero(np.isfinite(f1[jj,:]))
    xx = np.array(list(set(xx2).intersection(set(xx))))
    xx.sort()
    
    
    if (len(xx) > 5) and (sum((xx>200) & (xx<600))) > 2:
        yy = f1[jj, xx]
        f[jj, 200:] = sp = csaps.CubicSmoothingSpline(xx, yy,smooth = 0.0001)(list(range(200,f.shape[1])))
    f[jj,:] = pd.DataFrame(f[jj,:]).interpolate( limit_direction='both', axis=1).to_numpy().ravel()
    f[jj,:] = pd.DataFrame(f[jj,:]).interpolate(limit_direction='both', axis=1).to_numpy().ravel()

In [308]:
f[f<0] = 0
f = pd.DataFrame(f).rolling(7,axis=1).mean().to_numpy()
ww_adj = pd.DataFrame(data_diff*f).rolling(14,axis=1).mean().to_numpy()

In [211]:
from CDC_Sero import *
CDC_SERO_Function()

In [312]:
filehandler = open("true_new_infec.pkl", 'rb') 
true_new_infec = pickle.load(filehandler)

In [313]:
filehandler = open("un_array.pkl", 'rb') 
un_array = pickle.load(filehandler)

In [314]:
true_new_infec[0] = (true_new_infec[0]+abs(true_new_infec[0]))/2
true_new_infec[1] = (true_new_infec[1]+abs(true_new_infec[1]))/2
true_new_infec[2] = (true_new_infec[2]+abs(true_new_infec[2]))/2

In [328]:
eq_range = range(200,601)
nz_idx = ww_adj[:, eq_range]>0.5

ww_year1 = np.nansum(ww_adj[:, eq_range]*nz_idx, axis=1)


sero_year1 = np.nansum(true_new_infec[0].iloc[:, eq_range]*nz_idx, axis=1)

In [400]:
true_new_infec_ww = [0,0,0]
b = sero_year1/ww_year1
true_new_infec_ww[0] = ww_adj*b.reshape((b.size, 1))


true_new_infec_ww[0][np.isnan(true_new_infec_ww[0])] = 0


true_new_infec_ww[0] = pd.DataFrame(np.maximum(true_new_infec_ww[0],true_new_infec[0].to_numpy())).rolling(14,axis=1,min_periods=0).mean().to_numpy()

In [403]:
eq_range = range(200,601)
nz_idx = ww_adj[:, eq_range]>0.5

# ww_year2 = np.nansum(ww_adj[:, eq_range]*nz_idx, axis=1)


sero_year2 = np.nansum(true_new_infec[1].iloc[:, eq_range]*nz_idx, axis=1)

b = sero_year2/ww_year1
true_new_infec_ww[1] = ww_adj*b.reshape((b.size, 1))


true_new_infec_ww[1][np.isnan(true_new_infec_ww[1])] = 0


true_new_infec_ww[1] = pd.DataFrame(np.maximum(true_new_infec_ww[1],true_new_infec[1].to_numpy())).rolling(14,axis=1,min_periods=0).mean().to_numpy()

In [404]:
eq_range = range(200,601)
nz_idx = ww_adj[:, eq_range]>0.5

# ww_year2 = np.nansum(ww_adj[:, eq_range]*nz_idx, axis=1)


sero_year3 = np.nansum(true_new_infec[2].iloc[:, eq_range]*nz_idx, axis=1)

b = sero_year3/ww_year1
true_new_infec_ww[2] = ww_adj*b.reshape((b.size, 1))


true_new_infec_ww[2][np.isnan(true_new_infec_ww[2])] = 0


true_new_infec_ww[2] = pd.DataFrame(np.maximum(true_new_infec_ww[2],true_new_infec[2].to_numpy())).rolling(14,axis=1,min_periods=0).mean().to_numpy()

In [408]:
bad_states = (np.isnan(ww_ts).sum(axis=1)<1) & (np.isnan(true_new_infec[1]).sum(axis=1)<1)

In [417]:
# true_new_infec_ww[0][bad_states, :] = true_new_infec[0][bad_states, :]
# true_new_infec_ww[1][bad_states, :] = true_new_infec[1][bad_states, :]
# true_new_infec_ww[2][bad_states, :] = true_new_infec[2][bad_states, :]

true_new_infec_ww[0][bad_states, :] = data_diff[bad_states, :]
true_new_infec_ww[1][bad_states, :] = data_diff[bad_states, :]
true_new_infec_ww[2][bad_states, :] = data_diff[bad_states, :]

In [419]:
import pickle 
with open("true_new_infec_ww.pkl", "wb") as f:
    pickle.dump(true_new_infec_ww, f)
with open("true_new_infec_final.pkl", "wb") as f:
    pickle.dump(true_new_infec, f)

In [420]:
print("Process completed")

Process completed